<%= content_tag :div, '', id: 'root', data: { mycompany: @my_companies } %>

<% if Rails.env.development? %>
    <%= vite_javascript_tag 'home.tsx' %>
<% else %>
    <%= javascript_include_tag 'main' %>
<% end %>

<div id="root"></div>