@import '../../../node_modules/@freee_jp/vibes/vibes_2021.min.css' ;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans JP", sans-serif ;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    min-height: 0 !important;
}

h1, h2, h3, h4, h5, h6 {  
    font-size:100%;   
    font-weight:normal;   
}

a {
    color: inherit; 
    text-decoration: none; 
    outline: none;
}

a:hover, a:active {
    text-decoration: none; 
    color:none; 
    background-color:none;
}

// vibes Custom Style 
.vb-tableListCell:first-child {
    padding-left: 0;
}
