
.study-rails {
    --home-sideBar-width: 160px;
    --primary-border: 1px solid rgb(233, 231, 231);

    --primary-button-hover-color: rgb(40, 100, 240);
    --primary-button-hover-bg: #dce8ff;

    --white: rgb(255, 255, 255);

    --home-sideBar-hover-color: rgb(40, 100, 200);
    --button-hover-color: #1e46aa;

    --primary-menu-item-bg: rgb(247, 245, 245);
}